*.json

.idea/
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dynaconf local settings
Crawlersiac/config/.secrets.local.toml
Crawlersiac/config/settings.local.toml
Crawlersiac/images/

*.coverage*

images/
*.png
*.jpg
*.jpeg
*.webp
*.sql